body {
  background-image: linear-gradient(#e5d7b2, #7c6b53);
  height: 99vh;
}

.menu {
  align-content: center;
}

#title-text {
  text-align: center;
  font-family: "Londrina Solid", cursive;
  color: coral;
  font-size: 35px;
}

#button-container {
  text-align: center;
}

#buttons {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.menu-buttons {
  height: 50px;
  width: 200px;
  background-color: #04aa6d;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: 2px 6px 6px 1px black;
}

.content-container {
  height: 70%;
}

#calc-page.hidden {
  height: 0;
  transform: translate(-200%);
}

#calc-page {
  border-radius: 15px;
  width: 75%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  transition-duration: 600ms;
  box-shadow: 2px 15px 15px 1px black;
}

#calc-content {
  float: right;
  width: 100%;
  height: 100%;
  background-color: #f5cf8e; /* Yellow */
}

#calc-settings {
  float: left;
  padding-top: 2%;
  padding-bottom: 22%;
  text-align: center;
  width: 25%;
  height: 100%;
  overflow: hidden;
}

.calc-labels {
  font-size: 24px;
}

#input-day {
  width: 15%;
  font-size: 20px;
  text-align: center;
}

.table-calc {
  width: 50%;
  padding-top: 2%;
  margin: 0 auto;
}

#item-table {
  padding-top: 5%;
  align-self: center;
}

.header-name {
  width: 85%;
  font-size: 28px;
}

.header-profit {
  width: 30%;
  font-size: 28px;
}

.crop-name {
  font-size: 28px;
  text-align: left;
  border: 1px black solid;
  background-color: #d2e3f3;
}

.profit {
  font-size: 28px;
  text-align: center;
  border: 1px black solid;
  background-color: #d2e3f3;
}

#crop-page.hidden {
  height: 0;
  transform: translate(200%);
}

#crop-page {
  width: 75%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid red;
  transition-duration: 600ms;
}

.sidebar {
  float: left;
  padding-top: 2%;
  padding-bottom: 22%;
  text-align: center;
  width: 20%;
  height: 100%;
  overflow: hidden;
}

.sidebar-buttons {
  height: 50px;
  width: 100%;
}

#crop-content {
  float: right;
  width: 100%;
  height: 100%;
  background-color: #f5cf8e; /* Yellow */
}

.table-crops {
  width: 50%;
  padding-top: 2%;
  margin: 0 auto;
}

#crop-table {
  padding-top: 5%;
  align-self: center;
}

.crop-labels {
  text-align: right;
  width: 99%;
  font-size: 24px;
}

.input-text {
  width: 70%;
  font-size: 24px;
}

.footer {
  height: 100%;
  position: relative;
  border: 1px solid green;
}

.footer {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  border: 1px solid orange;
}

.content {
  padding: 20px;
}

label {
  display: inline-block;
  width: 10%;
  text-align: right;
}

#crop-content.hidden {
  transform: translate(150%);
}
#crop-content {
  transition-duration: 600ms;
}

#calc-content.hidden {
  transform: translate(150%);
}
#calc-content {
  transition-duration: 600ms;
}

/* Dropdown Button */
.season-dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-list li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-list li:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-list {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
